<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssmroot.mapper.FeedbackMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ssmroot.pojo.Feedback">
		<id column="id" property="id" />
		<result column="uname" property="uname" />
		<result column="contactInformation" property="contactInformation" />
		<result column="kid" property="kid" />
		<result column="umsg" property="umsg" />
		<result column="type" property="type" />
		<result column="createtime" property="createtime" />
	</resultMap>
	<insert id="add" parameterType="Feedback" >
            insert into Feedback ( uname, contactInformation ,kid,umsg,type,createtime) values (#{uname},#{contactInformation},#{kid},#{umsg},#{type},#{createtime})
        </insert>

	<delete id="delete" parameterType="Feedback" >
            delete from Feedback where id= #{id}
        </delete>

	<select id="get" parameterType="Feedback" resultType="Feedback">
            select * from   Feedback  where id= #{id}
        </select>

	<update id="update" parameterType="Feedback" >
            update Feedback set Feedbacksession=#{Feedbacksession},Feedbackname=#{Feedbackname} where id=#{id}
        </update>
	<select id="list" resultType="Feedback">
            select * from   Feedback
        </select>
</mapper>
