<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssmroot.mapper.KnowledgeMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ssmroot.pojo.Knowledge">
		<id column="id" property="id" />
		<result column="problem" property="problem" />
		<result column="answer" property="answer" />
		<result column="sort" property="sort" />
		<result column="superid" property="superid" />
		<result column="createtime" property="createtime" />
	</resultMap>

</mapper>
